In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from data_cleaning import *

In [3]:
# Read CSV file 
alt_fuel_stations = pd.read_csv("./CSVs/alt_fuel_stations.csv")
alt_fuel_stations.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,Restricted Access,EV Total Port Count (Beta),EV CHAdeMO Port Count (Beta),EV J1772 Port Count (Beta),EV CCS Port Count (Beta),EV NEMA 14-50 Port Count (Beta),EV NEMA 515 Port Count (Beta),EV NEMA 520 Port Count (Beta),EV Tesla Port Count (Beta),EV CCS 150+ kW Port Count (Beta)
0,ELEC,Oregon Museum of Science and Industry (OMSI) -...,1945 SE Water Ave,Under solar canopy in east parking lot,Portland,OR,97214,NaN,800-955-6674,E,...,False,4.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0
1,ELEC,City of Keizer - City Hall,930 Chemawa Rd NE,NaN,Salem,OR,97303,NaN,503-390-3700,E,...,False,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
2,ELEC,Nike - LA Garage,1 Bowerman Dr,NaN,Beaverton,OR,97006,NaN,NaN,E,...,NaN,6.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ELEC,LINCOLN CITY TAFT DUAL 1,1226 SW 50th St,NaN,Lincoln City,OR,97367,NaN,888-758-4389,E,...,NaN,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ELEC,LBCC LBCC DUAL 2,Ellingson Rd SW,NaN,Albany,OR,97321,NaN,888-758-4389,E,...,NaN,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
temp_alt_fuel_stations = alt_fuel_stations[['Fuel Type Code', 'Station Name', 'City','State','ZIP',
                                           'Groups With Access Code', 'Access Days Time', 'Latitude','Longitude']].copy()
temp_alt_fuel_stations.head()

,Fuel Type Code,Station Name,City,State,ZIP,Groups With Access Code,Access Days Time,Latitude,Longitude
0,ELEC,Oregon Museum of Science and Industry (OMSI) -...,Portland,OR,97214,Public,24 hours daily,45.508396,-122.664667
1,ELEC,City of Keizer - City Hall,Salem,OR,97303,Public,24 hours daily,44.995740,-123.019758
2,ELEC,Nike - LA Garage,Beaverton,OR,97006,Private,Employee use only,45.508795,-122.824900
3,ELEC,LINCOLN CITY TAFT DUAL 1,Lincoln City,OR,97367,Public,24 hours daily,44.928439,-124.015824
4,ELEC,LBCC LBCC DUAL 2,Albany,OR,97321,Public,24 hours daily,44.586123,-123.115389

In [8]:
# Get all information about DataFrame 
checking_dataframe(temp_alt_fuel_stations)

DataFrame Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fuel Type Code           1035 non-null   object
 1   Station Name             1035 non-null   object
 2   City                     1035 non-null   object
 3   State                    1035 non-null   object
 4   ZIP                      1035 non-null   int64
 5   Groups With Access Code  1035 non-null   object
 6   Access Days Time         983 non-null    object
 7   Latitude                 1035 non-null   float64
 8   Longitude                1035 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 72.9+ KB
None

Data Types

Fuel Type Code              object
Station Name                object
City                        object
State                       object
ZIP                          int64
Groups With Access Code     object
Access Days Time            object
Latitude                   float64
Longitude                  float64
dtype: object

Null Values

Fuel Type Code              0
Station Name                0
City                        0
State                       0
ZIP                         0
Groups With Access Code     0
Access Days Time           52
Latitude                    0
Longitude                   0
dtype: int64

In [9]:
# Clening column names 
clean_columns(temp_alt_fuel_stations)
temp_alt_fuel_stations

,Fuel_Type_Code,Station_Name,City,State,Zip,Groups_With_Access_Code,Access_Days_Time,Latitude,Longitude
0,ELEC,Oregon Museum of Science and Industry (OMSI) -...,Portland,OR,97214,Public,24 hours daily,45.508396,-122.664667
1,ELEC,City of Keizer - City Hall,Salem,OR,97303,Public,24 hours daily,44.995740,-123.019758
2,ELEC,Nike - LA Garage,Beaverton,OR,97006,Private,Employee use only,45.508795,-122.824900
3,ELEC,LINCOLN CITY TAFT DUAL 1,Lincoln City,OR,97367,Public,24 hours daily,44.928439,-124.015824
4,ELEC,LBCC LBCC DUAL 2,Albany,OR,97321,Public,24 hours daily,44.586123,-123.115389
...,...,...,...,...,...,...,...,...,...
1030,ELEC,HILLSBORO OR CULTURAL ARTS 1,Hillsboro,OR,97123,Public,24 hours daily,45.522925,-122.982362
1031,ELEC,LINFIELD SOFTBALL,McMinnville,OR,97128,Public,24 hours daily,45.197968,-123.199728
1032,ELEC,LINFIELD FOUNTAIN,McMinnville,OR,97128,Public,24 hours daily,45.199864,-123.198715
1033,ELEC,ARAZO APTS ARAZO 1,Beaverton,OR,97007,Public,24 hours daily,45.428450,-122.853052
1034,ELEC,TONKINGHY SERVICE DEPT,Gladstone,OR,97027,Public,24 hours daily,45.383095,-122.605800

In [11]:
# Remove whitespace from entire Dataframe
temp_alt_fuel_stations.applymap(remove_whitespace)

,Fuel_Type_Code,Station_Name,City,State,Zip,Groups_With_Access_Code,Access_Days_Time,Latitude,Longitude
0,ELEC,OregonMuseumofScienceandIndustry(OMSI)-SouthPa...,Portland,OR,97214,Public,24hoursdaily,45.508396,-122.664667
1,ELEC,CityofKeizer-CityHall,Salem,OR,97303,Public,24hoursdaily,44.995740,-123.019758
2,ELEC,Nike-LAGarage,Beaverton,OR,97006,Private,Employeeuseonly,45.508795,-122.824900
3,ELEC,LINCOLNCITYTAFTDUAL1,LincolnCity,OR,97367,Public,24hoursdaily,44.928439,-124.015824
4,ELEC,LBCCLBCCDUAL2,Albany,OR,97321,Public,24hoursdaily,44.586123,-123.115389
...,...,...,...,...,...,...,...,...,...
1030,ELEC,HILLSBOROORCULTURALARTS1,Hillsboro,OR,97123,Public,24hoursdaily,45.522925,-122.982362
1031,ELEC,LINFIELDSOFTBALL,McMinnville,OR,97128,Public,24hoursdaily,45.197968,-123.199728
1032,ELEC,LINFIELDFOUNTAIN,McMinnville,OR,97128,Public,24hoursdaily,45.199864,-123.198715
1033,ELEC,ARAZOAPTSARAZO1,Beaverton,OR,97007,Public,24hoursdaily,45.428450,-122.853052
1034,ELEC,TONKINGHYSERVICEDEPT,Gladstone,OR,97027,Public,24hoursdaily,45.383095,-122.605800

In [14]:
# Drop Null Values
clean_alt_fuel_stations = temp_alt_fuel_stations.dropna()
checking_dataframe(clean_alt_fuel_stations)

DataFrame Information

<class 'pandas.core.frame.DataFrame'>
Int64Index: 983 entries, 0 to 1034
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fuel_Type_Code           983 non-null    object
 1   Station_Name             983 non-null    object
 2   City                     983 non-null    object
 3   State                    983 non-null    object
 4   Zip                      983 non-null    int64
 5   Groups_With_Access_Code  983 non-null    object
 6   Access_Days_Time         983 non-null    object
 7   Latitude                 983 non-null    float64
 8   Longitude                983 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 76.8+ KB
None

Data Types

Fuel_Type_Code              object
Station_Name                object
City                        object
State                       object
Zip                          int64
Groups_With_Access_Code     object
Access_Days_Time            object
Latitude                   float64
Longitude                  float64
dtype: object

Null Values

Fuel_Type_Code             0
Station_Name               0
City                       0
State                      0
Zip                        0
Groups_With_Access_Code    0
Access_Days_Time           0
Latitude                   0
Longitude                  0
dtype: int64

In [15]:
clean_alt_fuel_stations

,Fuel_Type_Code,Station_Name,City,State,Zip,Groups_With_Access_Code,Access_Days_Time,Latitude,Longitude
0,ELEC,Oregon Museum of Science and Industry (OMSI) -...,Portland,OR,97214,Public,24 hours daily,45.508396,-122.664667
1,ELEC,City of Keizer - City Hall,Salem,OR,97303,Public,24 hours daily,44.995740,-123.019758
2,ELEC,Nike - LA Garage,Beaverton,OR,97006,Private,Employee use only,45.508795,-122.824900
3,ELEC,LINCOLN CITY TAFT DUAL 1,Lincoln City,OR,97367,Public,24 hours daily,44.928439,-124.015824
4,ELEC,LBCC LBCC DUAL 2,Albany,OR,97321,Public,24 hours daily,44.586123,-123.115389
...,...,...,...,...,...,...,...,...,...
1030,ELEC,HILLSBORO OR CULTURAL ARTS 1,Hillsboro,OR,97123,Public,24 hours daily,45.522925,-122.982362
1031,ELEC,LINFIELD SOFTBALL,McMinnville,OR,97128,Public,24 hours daily,45.197968,-123.199728
1032,ELEC,LINFIELD FOUNTAIN,McMinnville,OR,97128,Public,24 hours daily,45.199864,-123.198715
1033,ELEC,ARAZO APTS ARAZO 1,Beaverton,OR,97007,Public,24 hours daily,45.428450,-122.853052
1034,ELEC,TONKINGHY SERVICE DEPT,Gladstone,OR,97027,Public,24 hours daily,45.383095,-122.605800

In [16]:
# Write clean CSV file
clean_alt_fuel_stations.to_csv("./CSVs/clean_datasets/alt_fuel_stations_or.csv",index=False)